{% extends "base.html" %}

{% block title %}Manage Settings{% endblock %}

{% block activeEntry %}{% endblock %}
{% block activeGames %}{% endblock %}
{% block activePlayers %}{% endblock %}
{% block activeTransactions %}{% endblock %}
{% block activeSettings %}active{% endblock %}
{% block activeUserAccess %}{% endblock %}

{% block content %}


<div class="container">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#settings">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#export">Export DB</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#import">Recover DB</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#googlesheet">Import GoogleSheet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reset">Delete all data</a>
  </li>

</ul>

<div id="ManageSettings" class="tab-content">
    <p></p>
    <div id="settings" class="tab-pane fade show active">
        <form action="" method="post">
            {{  settingsChangeForm.hidden_tag() }}
            <p>
            Enter new team name:
            {{  settingsChangeForm.teamname(class_="form-control form-control-sm") }}
            {% for error in settingsChangeForm.teamname.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            <p>
            <p>{{ settingsChangeForm.submitteam(class_='btn btn-primary') }}</p>
        </form>
    </div>

    <div id="export" class="tab-pane fade">
        <form action="{{ url_for('download_json') }}" method="post">
            {{ dbExportForm.hidden_tag() }}
            {{ dbExportForm.submitdownload(class_='btn btn-danger') }}
            <p>
        </form>
    </div>

    <div id="import" class="tab-pane fade">
        <form action="{{ url_for('upload_json') }}" method="post">
            {{ dbRecoveryForm.hidden_tag() }}
            WARNING: Not implemented!
            <p> Select CFFA archive file : </p>
            <div class="form-group">
            <div class="input-group mb-3">
                <div class="custom-file">
                    {{  dbRecoveryForm.selectarchivefile(class_="custom-file-input") }}
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
            <div class="input-group-append">
                <span class="input-group-text" id="">Upload</span>
            </div>
            </div>
            </div>
            {% for error in dbRecoveryForm.selectarchivefile.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            {{ dbRecoveryForm.submitrecovery(class_='btn btn-danger') }}
            <p></p>
        </form>
    </div>

    <div id="googlesheet" class="tab-pane fade">
        <form action="{{ url_for('upload_google_connector') }}" method="post" enctype="multipart/form-data">
            {{ dbImportGsheetForm.hidden_tag() }}
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <p> {{  dbImportGsheetForm.googlefile(class_="custom-file-input") }} </p>
                        <label class="custom-file-label" for="googleFile">Upload Google Key File</label>
                    </div>
                </div>
            </div>
            {% for error in dbImportGsheetForm.googlefile.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}

            <p> Google Sheet Name:
            {{ dbImportGsheetForm.sheetname(class_="form-control form-control-sm") }}
            {% for error in dbImportGsheetForm.sheetname.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            </p>

            <p> Transaction worksheet name
            {{ dbImportGsheetForm.transactionsheetname(class_="form-control form-control-sm") }}
            {% for error in dbImportGsheetForm.transactionsheetname.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            </p>

            <p> Game worksheet name
            {{ dbImportGsheetForm.gamesheetname(class_="form-control form-control-sm") }}
            {% for error in dbImportGsheetForm.gamesheetname.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            </p>

            <p> Summary worksheet name
            {{ dbImportGsheetForm.summarysheetname(class_="form-control form-control-sm") }}
            {% for error in dbImportGsheetForm.summarysheetname.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            </p>

            <p> Summary data start row
            {{ dbImportGsheetForm.summarysheetstartrow(class_="form-control form-control-sm") }}
            {% for error in dbImportGsheetForm.summarysheetstartrow.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            </p>

            <p> Summary data end row
            {{ dbImportGsheetForm.summarysheetendrow(class_="form-control form-control-sm") }}
            {% for error in dbImportGsheetForm.summarysheetendrow.errors %}
                <span class="badge badge-warning">[{{ error }}]</span>
            {% endfor %}
            </p>

            {{ dbImportGsheetForm.submitupload(class_='btn btn-danger') }}
            <p></p>
        </form>
    </div>
    <div id="reset" class="tab-pane fade">
        <form action="{{ url_for('delete_all_data') }}" method="post">
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Delete All Data</div>
                <div class="card-body">
                    <h4 class="card-title">WARNING: This option will delete all data in the database!</h4>
                    <p class="card-text"> No revert possible.</p>
                    {{  deleteAllForm.hidden_tag() }}
                    <p>{{ deleteAllForm.confirmdelete(class_='btn btn-primary') }}</p>
                </div>
            </div>
        </form>
    </div>

</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>

{% endblock %}